{% extends "layout.html" %}

{% block title %}BugFist | Configuration{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-xl-10 px-5 content-body">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for msg in messages %}
          <div class="alert alert-secondary" role="alert">
            {{msg}}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="chart-area">
      <div class="chart-container">
                <h3>Top Resolvers</h3>
        <canvas id="topResolver"></canvas>
      </div>

      <div class="chart-container">
        <h3>Users by Role</h3>
        <canvas id="userRole"></canvas>
      </div>

      <div class="chart-container">
        <h3>Top Submitters</h3>
        <canvas id="topSubmit"></canvas>
      </div>
    </div>
    <hr>

    <!--- Chart scripts below --->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
      var resolve_ctx = document.getElementById('topResolver').getContext('2d');
      var resolve_chart = new Chart(resolve_ctx, {
        type: 'horizontalBar',

        data: {
            labels: [
              '{{ data['resolve_counts'][0][0] }}',
              '{{ data['resolve_counts'][1][0] }}',
              '{{ data['resolve_counts'][2][0] }}'],
            datasets: [{
              backgroundColor: ['#343A40','#898989','#CCCCCC'],
              data: [
              {{ data['resolve_counts'][0][1] }},
              {{ data['resolve_counts'][1][1] }},
              {{ data['resolve_counts'][2][1] }},
                0]
            }]
          },

        options: {
          legend: {
            display: false
          }
        }
      });

      var role_ctx = document.getElementById('userRole').getContext('2d');
      var role_chart = new Chart(role_ctx, {
        type: 'doughnut',

        data: {
            labels: ['Admin', 'Analyst', 'User'],
            datasets: [{
              backgroundColor: ['#A45FBE','#117899','#CCCCCC'],
              data: [
                {{ data['role_counts'][2] }},
                {{ data['role_counts'][1] }},
                {{ data['role_counts'][0] }}]
            }]
          },

        options: {
          legend: {
            position: 'left'
          }
        }
      });

      var submit_ctx = document.getElementById('topSubmit').getContext('2d');
      var submit_chart = new Chart(submit_ctx, {
        type: 'horizontalBar',

        data: {
            labels: [
              '{{ data['submit_counts'][0][0] }}',
              '{{ data['submit_counts'][1][0] }}',
              '{{ data['submit_counts'][2][0] }}'],
            datasets: [{
              backgroundColor: ['#343A40','#898989','#CCCCCC'],
              data: [
                {{ data['submit_counts'][0][1] }},
                {{ data['submit_counts'][1][1] }},
                {{ data['submit_counts'][2][1] }},
                0]
            }]
          },

        options: {
          legend: {
            display: false
          }
        }
      });
    </script>

    <div class="row justify-content-center">
      <div class="col-lg px-4 py-2">
        <h3>Users</h3>
        <div class="config-container">
          <table class="ticket-table">
            <tr>
              <th width=10%>ID</th>
              <th width=45%>Username</th>
              <th width=25%>Role</th>
              <th width=20%>Enabled</th>
            </tr>

            {% for user in users %}
              <tr>
                <td><a href="{{ url_for('user_edit', userId=user['id']) }}">{{ user.id }}</a></td>
                <td><a href="{{ url_for('user_edit', userId=user['id']) }}">{{ user.username }}</a></td>

                {% if user.access == 0 %}
                  <td><a href="{{ url_for('user_edit', userId=user['id']) }}">User</a></td>
                {% elif user.access == 1 %}
                  <td><a href="{{ url_for('user_edit', userId=user['id']) }}"><span style="color:#117899">Analyst</span></a></td>
                {% elif user.access == 2 %}
                  <td><a href="{{ url_for('user_edit', userId=user['id']) }}"><span style="color:#A45FBE">Admin</span></a></td>
                {% endif %}

                {% if user.enabled == True %}
                  <td><a href="{{ url_for('user_edit', userId=user['id']) }}"><span style="color:#8DA25C">Yes</span></a></td>
                {% else %}
                  <td><a href="{{ url_for('user_edit', userId=user['id']) }}"><span style="color:#C02E1D">No</span></a></td>
                {% endif %}

              </tr>
            {% endfor %}

          </table>
        </div>

      <div class="col-lg-4 px-0">
        <a href="/admin/users" class="btn btn-dark btn-block" role="button">View All Users</a>
      </div>
    </div>

      <div class="col-lg px-4 py-2">
        <h3>Categories</h3>
        <div class="config-container">
          <table class="ticket-table">
            <tr>
              <th width=10%>ID</th>
              <th width=70%>Name</th>
              <th width=20%>Active</th>
            </tr>

            {% for category in categories %}
              <tr>
                <td><a href="{{ url_for('category_edit', catId=category['id']) }}">{{ category['id'] }}</a></td>
                <td><a href="{{ url_for('category_edit', catId=category['id']) }}">{{ category['name'] }}</a></td>

                {% if category['active'] == True %}
                  <td><a href="{{ url_for('category_edit', catId=category['id']) }}"><span style="color:#8DA25C">Yes</span></a></td>
                {% else %}
                  <td><a href="{{ url_for('category_edit', catId=category['id']) }}"><span style="color:#C02E1D">No</span></a></td>
                {% endif %}
              </tr>
            {% endfor %}
          </table>

        </div>

        <div class="col-lg-4 px-0">
          <a href="/add-category" class="btn btn-dark btn-block" role="button">Add Category</a>
        </div>

      </div>
    </div>


    <hr>
<!---
    <div class="col mx-auto settings-button">
      <div class="row justify-content-center">
        <a href="/settings" class="settings-button">System Settings -></a>
      </div>
    </div>
--->
  </div>
</div>
{% endblock %}
