{% extends "layout.html" %}

{% block title %}BugFist | Admin Configuration{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-5 px-5 content-body">
    <h2>Admin Configuration Page</h2>
    <p>This is going to be an admin page, where administrative users can manage other users. We are going to make extra certain we don't do something silly, such as admins to remove their own rights. Maybe we can add some extra settings here too, why not?</p>
    <hr>
  </div>
</div>
{% endblock %}
