{% extends "layout.html" %}

{% block title %}Category:{{ category['id'] }} | Delete{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-6 px-4 content-edit">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for msg in messages %}
          <div class="alert alert-secondary" role="alert">
            {{msg}}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="settings-header">
      <h3>Delete Category:{{ category['id'] }}</h3>
    </div>

    <div class="form-group row">
      <label for="cat_name" class="col-lg-2 col-form-label">Name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" name="cat_name" value="{{ category['name'] }}">
      </div>
    </div>

    <div class="form-group row">
      <label for="description" class="col-lg-2 col-form-label">Description</label>
      <div class="col-lg-10">
        {% if category['description'] != None %}
          <textarea name="description" class="form-control" rows=3>{{ category['description'] }}</textarea>
        {% else %}
          <textarea name="description" class="form-control" rows=3></textarea>
        {% endif %}
      </div>
    </div>

    <hr>

    <p>Are you sure you want to delete category:{{ category['id'] }}? <span style="text-decoration: underline; color:#C02E1D">This action cannot be undone!</span></p>

    <form method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <button type="submit" value="submit" class="btn btn-dark mx-auto">Confirm</button>
      <a href="{{ url_for('category_edit', catId=category['id']) }}" class="btn btn-dark" role="button">Cancel</a>
    </form>
  </div>
</div>
{% endblock %}
