{% extends "layout.html" %}

{% block title %}BugFist | Let's Smash Bugs{% endblock %}

{% block content %}
<div class="col-8 text-left content">
  <h2>Welcome back, {{session["username"]}}!</h2>
  <p>Soon this will be a nice dashboard where standard users can view the status of their previous bug reports. The admins/contributors will be able to view all reports on this page. There will also be a prominent link to submit a new bug. Administrators will also be able to access this page, and submit bugs like a standard user. Administration of users will take place on a separate page.</p>
  <hr>
</div>
{% endblock %}
