{% extends "layout.html" %}

{% block title %}BugFist | Login{% endblock %}

{% block content %}
<div class="col-6 text-justify content">
  <h2>Login</h2>

  <form>
    <div class="form-group">
      <input type="text" class="form-control" id="inputUsername" placeholder="Username"">
    </div>

    <div class="form-group">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-outline-dark">Submit</button>
  </form>
</div>



{% endblock %}
