{% extends "layout.html" %}

{% block title %}BugFist | Register{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6 px-4 login-form">

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for msg in messages %}
            <div class="alert alert-secondary" role="alert">
              {{msg}}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <h2>Register an Account</h2>
      <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
          <input type="text" class="form-control" name="rUser" placeholder="Username" value="{{ prefill[0] }}">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" name="rEmail" placeholder="Email" value="{{ prefill[1] }}">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="rPass0" placeholder="Password (minimum 8 characters)">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="rPass1" placeholder="Retype Password">
        </div>
        <div class="form-group">
          {% if settings.switch == 2 %}
            <input type="text" class="form-control" name="registerCode" placeholder="Registration Code (required)">
          {% else %}
            <input type="hidden" class="form-control" name="registerCode" value="#"">
          {% endif %}
        </div>
        <div class="form-group">
          {{ recaptcha }}
        </div>
        <button type="submit" value="submit" class="btn btn-dark btn-block">Submit</button>
      </form>
      <div class="account-links">
        <p>Already have an account? <a href="/login">Login</a></p>
      </div>
    </div>
  </div>
{% endblock %}
