{% extends "layout.html" %}

{% block title %}BugFist | Submit a Ticket{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-xl-5 px-6 content-form">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for msg in messages %}
          <div class="alert alert-secondary" role="alert">
            {{msg}}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <h2>Submit a Ticket</h2>
    <form method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <div class="form-group">
        <input type="text" class="form-control" name="title" placeholder="Title" value="{{ prefill[0] }}">
      </div>
      <div class="form-group">
        <textarea class="form-control" name="body" rows=3 placeholder="Please write a detailed description of the issue...">{{ prefill[1] }}</textarea>
      </div>



      <div class="form-group">
        <div class="form-row">
          <div class="col">
            <label for="category">Category</label>
            <select class="form-control" name="category">
              <option style="display:none" disabled selected value >Select a Category</option>
              {% if categories %}
                {% for cat in categories %}
                  {% if cat['active'] %}
                    <option value="{{ cat['id' ]}}">{{ cat['name'] }}</option>
                  {% endif %}
                {%  endfor %}
              {% else %}
                <option disabled value>No categories available</option>
              {% endif %}
            </select>
          </div>

          <div class="col">
            <label for="priority">Priority</label>
            <select class="form-control" name="priority">
              <option style="display:none" disabled selected value >Select a Priority</option>
              <option value="3">Low</option>
              <option value="2">Medium</option>
              <option value="1">High</option>
            </select>
          </div>
        </div>
      </div>


      <button type="submit" value="submit" class="btn btn-lg btn-outline-dark mx-auto">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
