{% extends "layout.html" %}

{% block title %}Ticket: {{ ticket['id'] }} | View{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-xl-5 px-6 content-form">

    {% if ticket['open'] == True %}
      <h1>Ticket: {{ ticket['id'] }} - <span style="color:red">Open</span></h1>
    {% else %}
      <h1>Ticket: {{ ticket['id'] }} - <span style="color:green">Closed</span></h1>
    {% endif %}

    <div class="form-group">
      <input type="text" class="form-control" value="{{ ticket['title'] }}" readonly>
    </div>

    <div class="form-group">
      <textarea class="form-control" name="body" rows=3 readonly>{{ ticket['body'] }}</textarea>
    </div>

    <div class="form-group">
      <div class="form-row">
        <div class="col">
          <label for="category">Category</label>
          <input type="text" class="form-control" value="{{ ticket['category'].name }}" readonly>
        </div>
        <div class="col">
          <label for="priority">Priority</label>
          {% if ticket['priority'] == 3 %}
            <input type="text" class="form-control" value="High" readonly>
          {% elif ticket['priority'] == 2 %}
            <input type="text" class="form-control" value="Medium" readonly>
          {% else %}
            <input type="text" class="form-control" value="Low" readonly>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-row">
        <div class="col">
          <label for="raiseUser">Raise User</label>
          <input type="text" class="form-control" value="{{ ticket['raise_user'].username }}" readonly>
        </div>
        <div class="col">
          <label for="raiseDate">Raise Date</label>
          <input type="text" class="form-control" value="{{ ticket['raise_date'].strftime('%d/%m/%Y') }}" readonly>
        </div>
      </div>
    </div>

    {% if ticket['open'] == True %}
      <a href="{{ url_for('resolve_page', ticketId=ticket['id']) }}" class="btn btn-lg btn-outline-dark" role="button">Resolve</a>
    {% else %}
      <div class="form-group">
        <hr>
        <h3>Resolution</h3>
        <textarea class="form-control" name="resolution" rows=3 readonly>Resolved by {{ ticket['resolve_user'].username }} on {{ ticket['resolve_date'].strftime('%d/%m/%Y') }},&#13;{{ ticket['resolution'] }}
        </textarea>
      </div>
    {% endif %}

    <a href="/dashboard" class="btn btn-lg btn-outline-dark" role="button">Back</a>
  </div>
</div>
{% endblock %}
